<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715287302528-v0obcfha0oh2ig62h35qciare15q3edv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715287302528-v0obcfha0oh2ig62h35qciare15q3edv</string>
	<key>API_KEY</key>
	<string>AIzaSyD-RH4V3N9KwtXScWpuJI25vdjbHJU-bAk</string>
	<key>GCM_SENDER_ID</key>
	<string>715287302528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KinneyKare.ChuckNorisJokes</string>
	<key>PROJECT_ID</key>
	<string>chucknorrisjokes-14709</string>
	<key>STORAGE_BUCKET</key>
	<string>chucknorrisjokes-14709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715287302528:ios:507b492d8c2abc8c15b165</string>
</dict>
</plist>